@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--layout-max-width: 1600px;
		--primary-color: #63ab45;
		--secondary-color: #027a7c;
		--primary-color-light: #cfe1c7;
		--primary-color-saturated: #2c9600;
		--dark: #272727;
	}

	* {
		scrollbar-width: thin;
	}

	input[type='number'].hide-arrows::-webkit-outer-spin-button,
	input[type='number'].hide-arrows::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type='number'].hide-arrows {
		appearance: textfield;
		-moz-appearance: textfield;
	}

	.description-content {
		h1 {
			font-size: 2em;
			font-weight: bold;
			margin: 0.67em 0;
		}

		h2 {
			font-size: 1.5em;
			font-weight: bold;
			margin: 0.75em 0;
		}

		h3 {
			font-size: 1.17em;
			font-weight: bold;
			margin: 0.83em 0;
		}

		h4 {
			font-size: 1em;
			font-weight: bold;
			margin: 1.12em 0;
		}

		strong,
		b {
			font-weight: bold;
		}

		em,
		i {
			font-style: italic;
		}

		p {
			margin: 1em 0;
		}

		ul,
		ol {
			margin: 1em 0;
			padding-left: 40px;
		}

		li {
			margin: 0.5em 0;
		}
	}
}
